html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.badge {
    background: #0D6EFD;
}
.form-check{
    margin-left: 20px;
}
.card{
    max-width: 256px;
}
.card img{
    max-width: 256px;
    max-height: 256px;
}