@using Data.Data.Entities;
@model Product;
<h1>Create New Thing</h1>
<form asp-action="Create" method="post">
    <div class="d-flex justify-content-center mt-3">
        <div class="card" style="width: 18rem;">
            <img src="https://static.vecteezy.com/system/resources/previews/004/141/669/original/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" >Img url</h5>
                <input placeholder="https://img" asp-for=ImageUrl type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
        <div class="ms-2 d-block">
            <div class="input-group mb-3">
                <span  class="input-group-text" id="basic-addon1">Name</span>
                <input type="text" class="form-control" asp-for=Name placeholder="Thing..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="mt-2 form-floating">
                <select class="form-select" id="floatingSelect" name="CategoryId" aria-label="Floating label select example">
                    <option value="1">Electronics</option>
                    <option value="2">Sport</option>
                    <option value="3">Fashion</option>
                    <option value="4">Home & Garden</option>
                    <option value="5">Transport</option>
                    <option value="6">Toys & Hobbies</option>
                    <option value="7">Musical Instruments</option>
                    <option value="8">Art</option>
                    <option value="9">Other</option>
                </select>
                <label asp-for="CategoryId" for="floatingSelect">Category</label>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="mt-2 input-group">
                <span class="input-group-text">Description</span>
                <textarea class="form-control" asp-for=Description aria-label="Description"></textarea>
            </div>
            <div class="input-group mb-3 mt-2">
                <span class="input-group-text" id="basic-addon1">Location</span>
                <input type="text" class="form-control" asp-for=Location placeholder="Your location..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 mt-2">
                <span class="input-group-text" id="basic-addon1">Contact</span>
                <input type="text" class="form-control" asp-for=Contact placeholder="Your contact for other users..." aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="mb-3 mt-2 d-flex">
                <div class="me-2 input-group">
                    <input type="number" placeholder="Price" asp-for=Price min="0" step="10" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                    <span class="input-group-text">$</span>
                </div>
                <div class="me-2 input-group">
                    <input type="number" min="1" asp-for=Quantity placeholder="Quantity" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                    <span class="input-group-text">#</span>
                </div>
                <div class="me-2 input-group">
                    <input type="number" asp-for=Discount placeholder="Discount" min="0" max="100" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                    <span class="input-group-text">%</span>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for=Status type="checkbox" id="inlineCheckbox1">
                        <label class="form-check-label" asp-for=Status for="inlineCheckbox1">New</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-center">
        <button class="btn btn-primary me-md-2" asp-action="Create" type="submit">Create</button>
        <button asp-action="Index" class="btn btn-danger">Cancel</button>
    </div>
</form>