@model UseThi.Models.WalletViewModel;

@{
    ViewData["Title"] = "Your Wallet";
}
<h1>Welcome, @Model.UserEmail</h1>

<form asp-action="Deposit" method="post">
    <div class="input-group" style="width: 30%">
        <span class="input-group-text">$</span>
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        <button type="submit" class="btn btn-success">Deposit</button>
    </div>
</form>

<h3>Balance: @Model.UsdtBalance $</h3>

<h3>Your Cryptocurrencies:</h3>
<ul>
    @foreach (var crypto in Model.Cryptocurrencies)
    {
        <li>@crypto.Name (@crypto.Symbol)</li>
    }
</ul>